<% content_for :title do %>Open Scramble Pull Requests<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="scramble4" data-view="PullRequests" data-header="scramble4"></div>
    </li>
    <% params[:repos].each_with_index do |repo, index| %>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="<%= repo %>" data-view="PullRequests" data-header="<%= repo %>" class="color<%= index % 5%>"></div>
      </li>
    <% end %>
  </ul>
</div>
